/* Styling for the mat-drawer */
mat-drawer-container {
    height: 100%;
}

mat-drawer {
    padding: 16px;
}

mat-drawer-content {
    background-color: #F5F5F5;
}

mat-drawer {
    width: 25vw;
    min-width: 25vw;
    border-radius: 5px;
}